# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# IDE
.idea/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Environment
.env
.env.local

# Tests
htmlcov/
.coverage
.pytest_cache/
tests/

# Documentation
*.md